### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/build/
/.gradle/
/kafka/config/kraft/broker.properties
/kafka/config/kraft/controller.properties
/kafka/config/kraft/server.properties
/kafka/config/connect-console-sink.properties
/kafka/config/connect-console-source.properties
/kafka/config/connect-distributed.properties
/kafka/config/connect-file-sink.properties
/kafka/config/connect-file-source.properties
/kafka/config/connect-log4j.properties
/kafka/config/connect-mirror-maker.properties
/kafka/config/connect-standalone.properties
/kafka/config/consumer.properties
/kafka/config/log4j.properties
/kafka/config/producer.properties
/kafka/config/server.properties
/kafka/config/tools-log4j.properties
/kafka/config/trogdor.conf
/kafka/config/zookeeper.properties
/kafka/libs/activation-1.1.1.jar
/kafka/libs/aopalliance-repackaged-2.6.1.jar
/kafka/libs/argparse4j-0.7.0.jar
/kafka/libs/audience-annotations-0.12.0.jar
/kafka/libs/caffeine-2.9.3.jar
/kafka/libs/checker-qual-3.19.0.jar
/kafka/libs/commons-beanutils-1.9.4.jar
/kafka/libs/commons-cli-1.4.jar
/kafka/libs/commons-collections-3.2.2.jar
/kafka/libs/commons-digester-2.1.jar
/kafka/libs/commons-io-2.11.0.jar
/kafka/libs/commons-lang3-3.8.1.jar
/kafka/libs/commons-logging-1.2.jar
/kafka/libs/commons-validator-1.7.jar
/kafka/libs/connect-api-3.6.0.jar
/kafka/libs/connect-basic-auth-extension-3.6.0.jar
/kafka/libs/connect-file-3.6.0.jar
/kafka/libs/connect-json-3.6.0.jar
/kafka/libs/connect-mirror-3.6.0.jar
/kafka/libs/connect-mirror-client-3.6.0.jar
/kafka/libs/connect-runtime-3.6.0.jar
/kafka/libs/connect-transforms-3.6.0.jar
/kafka/libs/error_prone_annotations-2.10.0.jar
/kafka/libs/hk2-api-2.6.1.jar
/kafka/libs/hk2-locator-2.6.1.jar
/kafka/libs/hk2-utils-2.6.1.jar
/kafka/libs/jackson-annotations-2.13.5.jar
/kafka/libs/jackson-core-2.13.5.jar
/kafka/libs/jackson-databind-2.13.5.jar
/kafka/libs/jackson-dataformat-csv-2.13.5.jar
/kafka/libs/jackson-datatype-jdk8-2.13.5.jar
/kafka/libs/jackson-jaxrs-base-2.13.5.jar
/kafka/libs/jackson-jaxrs-json-provider-2.13.5.jar
/kafka/libs/jackson-module-jaxb-annotations-2.13.5.jar
/kafka/libs/jackson-module-scala_2.13-2.13.5.jar
/kafka/libs/jakarta.activation-api-1.2.2.jar
/kafka/libs/jakarta.annotation-api-1.3.5.jar
/kafka/libs/jakarta.inject-2.6.1.jar
/kafka/libs/jakarta.validation-api-2.0.2.jar
/kafka/libs/jakarta.ws.rs-api-2.1.6.jar
/kafka/libs/jakarta.xml.bind-api-2.3.3.jar
/kafka/libs/javassist-3.29.2-GA.jar
/kafka/libs/javax.activation-api-1.2.0.jar
/kafka/libs/javax.annotation-api-1.3.2.jar
/kafka/libs/javax.servlet-api-3.1.0.jar
/kafka/libs/javax.ws.rs-api-2.1.1.jar
/kafka/libs/jaxb-api-2.3.1.jar
/kafka/libs/jersey-client-2.39.1.jar
/kafka/libs/jersey-common-2.39.1.jar
/kafka/libs/jersey-container-servlet-2.39.1.jar
/kafka/libs/jersey-container-servlet-core-2.39.1.jar
/kafka/libs/jersey-hk2-2.39.1.jar
/kafka/libs/jersey-server-2.39.1.jar
/kafka/libs/jetty-client-9.4.52.v20230823.jar
/kafka/libs/jetty-continuation-9.4.52.v20230823.jar
/kafka/libs/jetty-http-9.4.52.v20230823.jar
/kafka/libs/jetty-io-9.4.52.v20230823.jar
/kafka/libs/jetty-security-9.4.52.v20230823.jar
/kafka/libs/jetty-server-9.4.52.v20230823.jar
/kafka/libs/jetty-servlet-9.4.52.v20230823.jar
/kafka/libs/jetty-servlets-9.4.52.v20230823.jar
/kafka/libs/jetty-util-9.4.52.v20230823.jar
/kafka/libs/jetty-util-ajax-9.4.52.v20230823.jar
/kafka/libs/jline-3.22.0.jar
/kafka/libs/jopt-simple-5.0.4.jar
/kafka/libs/jose4j-0.9.3.jar
/kafka/libs/jsr305-3.0.2.jar
/kafka/libs/kafka-clients-3.6.0.jar
/kafka/libs/kafka-group-coordinator-3.6.0.jar
/kafka/libs/kafka-log4j-appender-3.6.0.jar
/kafka/libs/kafka-metadata-3.6.0.jar
/kafka/libs/kafka-raft-3.6.0.jar
/kafka/libs/kafka-server-common-3.6.0.jar
/kafka/libs/kafka-shell-3.6.0.jar
/kafka/libs/kafka-storage-3.6.0.jar
/kafka/libs/kafka-storage-api-3.6.0.jar
/kafka/libs/kafka-streams-3.6.0.jar
/kafka/libs/kafka-streams-examples-3.6.0.jar
/kafka/libs/kafka-streams-scala_2.13-3.6.0.jar
/kafka/libs/kafka-streams-test-utils-3.6.0.jar
/kafka/libs/kafka-tools-3.6.0.jar
/kafka/libs/kafka-tools-api-3.6.0.jar
/kafka/libs/kafka_2.13-3.6.0.jar
/kafka/libs/lz4-java-1.8.0.jar
/kafka/libs/maven-artifact-3.8.8.jar
/kafka/libs/metrics-core-2.2.0.jar
/kafka/libs/metrics-core-4.1.12.1.jar
/kafka/libs/netty-buffer-4.1.94.Final.jar
/kafka/libs/netty-codec-4.1.94.Final.jar
/kafka/libs/netty-common-4.1.94.Final.jar
/kafka/libs/netty-handler-4.1.94.Final.jar
/kafka/libs/netty-resolver-4.1.94.Final.jar
/kafka/libs/netty-transport-4.1.94.Final.jar
/kafka/libs/netty-transport-classes-epoll-4.1.94.Final.jar
/kafka/libs/netty-transport-native-epoll-4.1.94.Final.jar
/kafka/libs/netty-transport-native-unix-common-4.1.94.Final.jar
/kafka/libs/osgi-resource-locator-1.0.3.jar
/kafka/libs/paranamer-2.8.jar
/kafka/libs/pcollections-4.0.1.jar
/kafka/libs/plexus-utils-3.3.1.jar
/kafka/libs/reflections-0.10.2.jar
/kafka/libs/reload4j-1.2.25.jar
/kafka/libs/rocksdbjni-7.9.2.jar
/kafka/libs/scala-collection-compat_2.13-2.10.0.jar
/kafka/libs/scala-java8-compat_2.13-1.0.2.jar
/kafka/libs/scala-library-2.13.11.jar
/kafka/libs/scala-logging_2.13-3.9.4.jar
/kafka/libs/scala-reflect-2.13.11.jar
/kafka/libs/slf4j-api-1.7.36.jar
/kafka/libs/slf4j-reload4j-1.7.36.jar
/kafka/libs/snappy-java-1.1.10.4.jar
/kafka/libs/swagger-annotations-2.2.8.jar
/kafka/libs/trogdor-3.6.0.jar
/kafka/libs/zookeeper-3.8.2.jar
/kafka/libs/zookeeper-jute-3.8.2.jar
/kafka/libs/zstd-jni-1.5.5-1.jar
/kafka/licenses/argparse-MIT
/kafka/licenses/CDDL+GPL-1.1
/kafka/licenses/checker-qual-MIT
/kafka/licenses/DWTFYWTPL
/kafka/licenses/eclipse-distribution-license-1.0
/kafka/licenses/eclipse-public-license-2.0
/kafka/licenses/jline-BSD-3-clause
/kafka/licenses/jopt-simple-MIT
/kafka/licenses/paranamer-BSD-3-clause
/kafka/licenses/pcollections-MIT
/kafka/licenses/slf4j-MIT
/kafka/licenses/zstd-jni-BSD-2-clause
/kafka/logs/connect.log
/kafka/logs/controller.log
/kafka/logs/controller.log.2024-02-04-08
/kafka/logs/controller.log.2024-02-04-09
/kafka/logs/controller.log.2024-02-04-10
/kafka/logs/controller.log.2024-02-04-11
/kafka/logs/controller.log.2024-02-04-12
/kafka/logs/controller.log.2024-02-04-13
/kafka/logs/controller.log.2024-02-04-14
/kafka/logs/controller.log.2024-02-05-16
/kafka/logs/controller.log.2024-02-05-17
/kafka/logs/controller.log.2024-02-05-18
/kafka/logs/controller.log.2024-02-05-19
/kafka/logs/controller.log.2024-02-05-20
/kafka/logs/controller.log.2024-02-05-21
/kafka/logs/controller.log.2024-02-05-22
/kafka/logs/controller.log.2024-02-05-23
/kafka/logs/controller.log.2024-02-06-00
/kafka/logs/controller.log.2024-02-06-01
/kafka/logs/controller.log.2024-02-06-02
/kafka/logs/controller.log.2024-02-06-03
/kafka/logs/controller.log.2024-02-06-04
/kafka/logs/controller.log.2024-02-06-05
/kafka/logs/controller.log.2024-02-06-06
/kafka/logs/controller.log.2024-02-06-07
/kafka/logs/controller.log.2024-02-06-08
/kafka/logs/controller.log.2024-02-06-09
/kafka/logs/controller.log.2024-02-06-10
/kafka/logs/controller.log.2024-02-06-11
/kafka/logs/controller.log.2024-02-06-12
/kafka/logs/controller.log.2024-02-06-13
/kafka/logs/controller.log.2024-02-06-14
/kafka/logs/controller.log.2024-02-06-15
/kafka/logs/kafka-authorizer.log
/kafka/logs/kafka-request.log
/kafka/logs/kafkaServer-gc.log
/kafka/logs/kafkaServer-gc.log.0
/kafka/logs/kafkaServer-gc.log.1
/kafka/logs/kafkaServer-gc.log.2
/kafka/logs/kafkaServer-gc.log.3
/kafka/logs/kafkaServer-gc.log.4
/kafka/logs/log-cleaner.log
/kafka/logs/log-cleaner.log.2024-02-04-08
/kafka/logs/log-cleaner.log.2024-02-04-10
/kafka/logs/log-cleaner.log.2024-02-04-14
/kafka/logs/server.log
/kafka/logs/server.log.2024-02-04-08
/kafka/logs/server.log.2024-02-04-09
/kafka/logs/server.log.2024-02-04-10
/kafka/logs/server.log.2024-02-04-11
/kafka/logs/server.log.2024-02-04-13
/kafka/logs/server.log.2024-02-04-14
/kafka/logs/server.log.2024-02-05-16
/kafka/logs/server.log.2024-02-05-17
/kafka/logs/server.log.2024-02-05-18
/kafka/logs/server.log.2024-02-05-21
/kafka/logs/server.log.2024-02-06-09
/kafka/logs/server.log.2024-02-06-10
/kafka/logs/server.log.2024-02-06-11
/kafka/logs/server.log.2024-02-06-13
/kafka/logs/server.log.2024-02-06-14
/kafka/logs/state-change.log
/kafka/logs/state-change.log.2024-02-04-08
/kafka/logs/state-change.log.2024-02-04-10
/kafka/logs/state-change.log.2024-02-04-11
/kafka/logs/state-change.log.2024-02-04-14
/kafka/logs/state-change.log.2024-02-05-16
/kafka/logs/state-change.log.2024-02-05-21
/kafka/logs/state-change.log.2024-02-06-09
/kafka/logs/state-change.log.2024-02-06-10
/kafka/logs/zookeeper-gc.log
/kafka/logs/zookeeper-gc.log.0
/kafka/logs/zookeeper-gc.log.1
/kafka/logs/zookeeper-gc.log.2
/kafka/logs/zookeeper-gc.log.3
/kafka/logs/zookeeper-gc.log.4
/kafka/site-docs/kafka_2.13-3.6.0-site-docs.tgz
/kafka/LICENSE
/kafka/NOTICE
